<a href="https://colab.research.google.com/github/wasimcshaikh/Internship/blob/main/Task_1/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# program to create one dimensional array using pandas module
import pandas as pd
ds = pd.Series([1,2,3,4,5])
print(ds)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
# program for print array values elements wise
import pandas as pd
dics=pd.DataFrame({'A':[3,5,2,6],'B':[7,3,8,4],'C':[3,6,7,2]})
print(dics)

   A  B  C
0  3  7  3
1  5  3  6
2  2  8  7
3  6  4  2

In [3]:
#program for adding two pandas series
import pandas as pd
num1=pd.Series ([3,4,5,6])
num2=pd.Series ([4,3,7,2])
add=num1+num2
print(add)

0     7
1     7
2    12
3     8
dtype: int64

In [4]:
#program to compare the elements of two pandas sereis
import pandas as pd
ps1=pd.Series([3,4,6,9])
ps2=pd.Series([8,3,5,9])
print(ps1)
print(ps2)
print("comparesion between ps1 and ps1 is")
print(ps1==ps2)
print(ps1<ps2)
print(ps1>ps2)

0    3
1    4
2    6
3    9
dtype: int64
0    8
1    3
2    5
3    9
dtype: int64
comparesion between ps1 and ps1 is
0    False
1    False
2    False
3     True
dtype: bool
0     True
1    False
2    False
3    False
dtype: bool
0    False
1     True
2     True
3    False
dtype: bool

In [5]:
#pragram to display dataframes from dictionary data
import pandas as pd
data={'Names':['Moin','Hasir','wasim','kaif'],
                   'Address':['alephata','pune','Mumbai','Nashik']}
labels=['A','B','C','D']

info=pd.DataFrame(data, index=labels)
print(info)

   Names   Address
A   Moin  alephata
B  Hasir      pune
C  wasim    Mumbai
D   kaif    Nashik