<a href="https://colab.research.google.com/github/wasimcshaikh/Internship/blob/main/Task_4/statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
mkp=pd.read_csv("/content/drive/MyDrive/my documents\student_new_record.csv")
mkp

,Unnamed: 0,Stud_Roll_no.,Maths_Score,Reading_Score,Writing_Score,Placement_Score,Placement offer count
0,0,1,82.0,64.00,98.0,81.0,2
1,1,2,74.0,86.00,98.0,86.0,2
2,2,3,76.0,83.00,76.0,78.0,1
3,3,4,25.0,73.00,77.0,58.0,0
4,4,5,93.0,95.00,86.0,91.0,3
5,5,6,75.0,83.00,97.0,85.0,2
6,6,7,83.0,84.00,91.0,86.0,2
7,7,8,72.0,90.00,71.0,78.0,1
8,8,9,86.0,88.00,94.0,89.0,2
9,9,10,92.0,76.00,98.0,89.0,2
10,10,11,87.0,87.00,78.0,87.0,2
11,11,12,97.0,97.00,94.0,96.0,3
12,12,13,82.0,93.00,95.0,90.0,3
13,13,14,89.0,83.00,88.0,87.0,2
14,14,15,32.0,26.00,29.0,29.0,0
15,15,16,99.0,96.00,80.0,92.0,3
16,16,17,73.0,86.00,83.0,81.0,2
17,17,18,71.0,65.00,78.0,71.0,1
18,18,19,71.0,88.00,74.0,78.0,1
19,19,20,63.0,86.00,94.0,81.0,2
20,20,21,68.0,76.00,81.0,75.0,1
21,21,22,73.0,93.00,73.0,80.0,2
22,22,23,90.0,69.00,61.0,73.0,1
23,23,24,77.0,66.00,79.0,73.0,1
24,24,25,97.0,63.00,67.0,76.0,1
25,25,26,85.0,96.00,99.0,93.0,3
26,26,27,69.0,87.00,69.0,75.0,1
27,27,28,63.0,63.00,66.0,64.0,1
28,28,29,78.0,90.00,72.0,80.0,2
29,29,30,96.0,83.00,79.0,86.0,2
30,30,31,96.0,82.00,61.0,80.0,2
31,31,32,19.0,81.00,69.0,56.0,0
32,32,33,99.0,96.00,63.0,86.0,2
33,33,34,64.0,99.00,86.0,83.0,2
34,34,35,92.0,97.00,66.0,85.0,2
35,35,36,74.0,71.00,91.0,79.0,1
36,36,37,65.0,98.00,72.0,78.0,0
37,37,38,68.0,13.00,76.0,52.0,0
38,38,39,67.0,81.00,89.0,79.0,1
39,39,40,85.0,78.00,80.0,81.0,2
40,40,41,68.0,96.00,75.0,80.0,2
41,41,42,77.0,81.00,62.0,72.0,1
42,42,43,76.0,91.00,92.0,86.0,2
43,43,44,95.0,63.00,80.0,79.0,1
44,44,45,89.0,90.00,60.0,80.0,2
45,45,46,98.0,80.06,98.0,98.0,3
46,46,47,84.0,84.00,61.0,76.0,1
47,47,48,74.0,63.00,85.0,74.0,1
48,48,49,74.0,66.00,90.0,77.0,1
49,49,50,71.0,78.00,64.0,71.0,1

**calculating the mean of each column**

In [ ]:
mean1=mkp['Maths_Score'].mean()
mean1

77.06

In [ ]:
mean2=mkp['Reading_Score'].mean()
mean2

80.0612

In [ ]:
mean3=mkp['Writing_Score'].mean()
mean3

78.9

In [ ]:
mean4=mkp['Placement_Score'].mean()
mean4

78.8

In [ ]:
mean5=mkp['Placement offer count'].mean()
mean5

1.56

**Next we calculating the medain of each column**

In [ ]:
median1=mkp['Maths_Score'].median()
median1

76.5

In [ ]:
median2=mkp['Reading_Score'].median()
median2

83.0

In [ ]:
median3=mkp['Writing_Score'].median()
median3

79.0

In [ ]:
median4=mkp['Placement_Score'].median()
median4

80.0

In [ ]:
median5=mkp['Placement offer count'].median()
median5

2.0

**Next we calculating the minimum value of each column**

In [ ]:
minimum1=mkp['Maths_Score'].min()
minimum1

19.0

In [ ]:
minimum2=mkp['Reading_Score'].min()
minimum2

13.0

In [ ]:
minimum3=mkp['Writing_Score'].min()
minimum3

29.0

In [ ]:
minimum4=mkp['Placement_Score'].min()
minimum4

29.0

In [ ]:
minimum5=mkp['Placement offer count'].min()
minimum5

0

**Next we calculating the maximum value of each column**

In [ ]:
maximum1=mkp['Maths_Score'].max()
maximum1

99.0

In [ ]:
maximum2=mkp['Reading_Score'].max()
maximum2

99.0

In [ ]:
maximum3=mkp['Writing_Score'].max()
maximum3

99.0

In [ ]:
maximum4=mkp['Placement_Score'].max()
maximum4

98.0

In [ ]:
maximum5=mkp['Placement offer count'].max()
maximum5

3

**Next we calculating the standard deviation of each column**

In [ ]:
sd1=mkp['Maths_Score'].std()
sd1

17.068182596365002

In [ ]:
sd2=mkp['Reading_Score'].std()
sd2

16.539881503906408

In [ ]:
sd3=mkp['Writing_Score'].std()
sd3

13.969719439719961

In [ ]:
sd4=mkp['Placement_Score'].std()
sd4

11.707314999170215

In [ ]:
sd5=mkp['Placement offer count'].std()
sd5

0.8369039151929607